@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition:all 300ms ease-in-out;
}

main{
    display: flex;
    margin: auto;
    height: 100vh;
}
#background{
    width: 100%;
    background-image: url(images/hotmart-login-bg.svg);
    background-size: cover;
    background-position: center;
}
#user{
    display: flex;
    flex-direction: column;
    width: 35%;
    min-width: 450px;
    padding: 50px;
    justify-content: space-between;
    align-items: flex-start;
     
}
#user .logo img{
    width: 130px;
}
#user .login {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.input{
    display: flex;
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid lightgray;

}
#user .login .facebook{
    background-color: #3b5998;
    color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-color: #3b5998;
}
#user .login .facebook:hover{
    background-color: #2b4170;
}
#user .login .facebook:active{
    opacity: 0.9;
}
#user .login .user-datas{
    align-items: center;
    gap: 10px;
}
#user .login .user-datas h2{
    font-size: 18px;
    color: #707780;
}
#user .login .user-datas input{
    width: 100%;
    border: none;
    font-size: 23px;
    color: #191c1f;
    padding: 10px;
}
#user .login .user-datas .eye{
    cursor: pointer;
    font-size: 24px;
}
#user .login .user-datas .eye:hover{
    color: #1877f2;
    opacity: 0.9;
}
#user .login .user-datas .show{
    color: #1877f2 !important;
}
#user .login .user-datas .show:hover{
    color: #707780 !important;
    opacity: 0.9;
}
#user .login .facebook img{
    width: 15px;
    margin-right: 10px;
}
.forget-password{
    align-self: flex-end;
    font-size: 18px;
    color: #707780;
}
.forget-password::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: #707780;
    position: relative;
    bottom: -4px;
    left: -10px;
    display: block;
    transition: width 300ms;
    text-align: end;
}
.forget-password:hover::after{
    width: 110%;
}

.enter{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.btn-enter{
    align-items: center;
    justify-content: center;
    background-color: #009d43;
    color: white;
    border-color: #009d43;
    margin-bottom: 30px;
}
.btn-enter:hover{
    background-color: #018038;
}
.btn-enter:active{
    opacity: 0.9;
}
.enter p{
    align-self: center;
    font-size: 18px;
    color: #707780;
}
.enter p>span>a{
    color: #1877f2;
    text-decoration: underline;
}
.enter p>span>a:hover{
    color: #3b5998;
}
footer{
    width: 100%;
}
footer ul{
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
footer ul li a{
    color: #707780;
    font-size: 14px;
}
footer ul li a:hover{
    text-decoration: underline;
}

@media screen and (max-width:770px){
    #user{
        min-width: none;
        width: 100%;
    }
    #user .logo img{
        align-self: center;
    }
    #background{
        display: none;
    }
}